In [4]:
import numpy as np
import pandas as pd
import mlflow
import warnings
import pickle
import sys, os
import matplotlib.pyplot as plt
from matplotlib.gridspec import GridSpec
from matplotlib import ticker
from statsmodels.tsa.stattools import adfuller, acf, pacf
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.ensemble import RandomForestRegressor
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM

In [5]:
# sns.set()
%matplotlib inline
warnings.filterwarnings("ignore")

In [6]:
sys.path.append(os.path.abspath(os.path.join('../scripts')))
from file_handler import FileHandler

# Preprocessing

In [49]:
file_handler = FileHandler()
# reading the csv file
credit_df = file_handler.read_csv("../data/creditcard.csv")

In [50]:
data = credit_df.groupby("Time").agg({"Class": "mean"})
data

          Class
Time
0.0         0.0
1.0         0.0
2.0         0.0
4.0         0.0
7.0         0.0
...         ...
172785.0    0.0
172786.0    0.0
172787.0    0.0
172788.0    0.0
172792.0    0.0

[124592 rows x 1 columns]

In [53]:
scaler=MinMaxScaler(feature_range=(0,1))
data=scaler.fit_transform(np.array(data).reshape(-1,1))

In [54]:
data

array([[0.],
       [0.],
       [0.],
       ...,
       [0.],
       [0.],
       [0.]])

In [56]:
##splitting dataset into train and test split
training_size=int(len(data)*0.65)
test_size=len(data)-training_size
train_data,test_data=data[0:training_size,:],data[training_size:len(data),:1]

In [57]:
training_size,test_size

(80984, 43608)

In [58]:
# convert an array of values into a dataset matrix
def create_dataset(dataset, time_step=1):
	dataX, dataY = [], []
	for i in range(len(dataset)-time_step-1):
		a = dataset[i:(i+time_step), 0]   ###i=0, 0,1,2,3-----99   100 
		dataX.append(a)
		dataY.append(dataset[i + time_step, 0])
	return numpy.array(dataX), numpy.array(dataY)

In [60]:
import numpy
# reshape into X=t,t+1,t+2,t+3 and Y=t+4
time_step = 100
X_train, y_train = create_dataset(train_data, time_step)
X_test, ytest = create_dataset(test_data, time_step)

In [61]:
print(X_train.shape), print(y_train.shape)

(80883, 100)
(80883,)

(None, None)

In [62]:
print(X_test.shape), print(ytest.shape)

(43507, 100)
(43507,)

(None, None)